/*
 * Authors: Joshua Caravetta, Norman Mutunga
 * Created: 1/31/2014
 * 
 * This is the CSS for the circuit building tool.
 */


#resistor-img {

}

#dcpower-img{
position:relative;
top: -12px;
}

#CircuitBuilder{
    position: relative; 
    top: 190px;
    margin: auto;
    width:800px;
}

#canvas {
 position: absolute;
 top: 21%;
right:4%;
 z-index: 3;
}

#CircuitToolBar{
    position: absolute;
    z-index: 2;
    background: white; 
    top:0;
    width: 791px; 
    height:70px; 
}

#voltage_measurement{
     position: absolute;
     top: 18%;
     left: 55%;
}

#voltage{
    position: absolute;
    width: 20%;
    left: 33%;
    top: 18%;
}

#voltage_label{
    position: absolute;
    top:-0.5%;
}

#voltage_save_button{
    position: absolute;
    top: 70%;
    left: 75%;
}

#resistor_measurement{
     position: absolute;
     top: 18%;
     left: 62%;
}

#resistance{
    position: absolute;
    width: 20%;
    left: 40%;
    top: 18%;
}

#resistor_label{
    position: absolute;
    top:-0.5%;
}

#resistor_save_button{
    position: absolute;
    top: 70%;
    left: 75%;
}

.ui-tabs .ui-tabs-nav li {
    font-size: 8px;
    text-align:center;
    width:80px;
}

@media screen and (max-width: 1600px){
    #resistor_measurement{
     position: absolute;
     top: 18%;
     left: 61%;
}
}

@media screen and (max-width: 1920px){
    #resistor_measurement{
     position: absolute;
     top: 18%;
     left: 61%;
}
}
