/*
 * Authors: Joshua Caravetta, Norman Mutunga
 * Created: 1/31/2014
 * 
 * This is the CSS for the circuit building tool.
 */

#background1 { 
    background:black; 
}

#resistor-img {

}

#dcpower-img{
position:relative;
top: -12px;
}

#CircuitBuilder{
    position: relative; 
    top: 190px;
    margin: auto;
    width:800px;
}

#myCanvas {
    position: absolute;
    z-index: 1;
    background:white;
    border-radius: 5px;
}

#CircuitToolBar{
    position: absolute;
    z-index: 2;
    background: white; 
    top: -80px;
    width: 791px; 
    height:70px; 
}

#measurement{
     position: absolute;
     top: 18%;
     left: 55%;
}

#voltage{
    position: absolute;
    width: 20%;
    left: 33%;
    top: 18%;
}

#voltage_label{
    position: absolute;
    top:-0.5%;
}

#save_button{
    position: absolute;
    top: 70%;
    left: 75%;
}

.ui-tabs .ui-tabs-nav li {
    font-size: 8px;
    text-align:center;
    width:80px;
}

