/*
 * Authors: Joshua Caravetta, Norman Mutunga
 * Created: 1/31/2014
 * 
 * This is the CSS for the circuit building tool.
 */

#background1 { 
    background:black; 
}

#resistor-img {
   
}

#CircuitBuilder{
    position: relative; 
    top: 190px;
    margin: auto; 
    left: 330px;
}

#myCanvas {
    position: absolute;
    z-index: 1;
    background:white;
    border-radius: 5px;
}

#CircuitToolBar{
    position: absolute;
    z-index: 2;
    background: white; 
    top: -80px;
    width: 791px; 
    height:70px; 
}

.ui-tabs .ui-tabs-nav li {
    font-size: 8px;
    text-align:center;
    width:80px;
}

