.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 70px;
    height: 28px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 15px/31px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    background: #606060;
}

.jcarousel-control-prev {
    left: 2%;
    top: 95%;
}

.jcarousel-control-next {
    right: 2%;
    top: 95%;
}

#lessonbox{
    position: absolute;
    top: 10%;
    width: 50%;
    height: 82%;
    background-color: #B0B0B0;
    border:2px solid #707070;
box-shadow: inset 0 0 100px rgba(0,0,0,.3);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

#prev{
    font-size: 10px;
}

#wrapper{
    position: absolute;
    top:96%;
    width: 100%;
}

#pagenumber{
    width: 70%;
    top:90px;
    margin: 0 auto;
   text-align: center;
}

li{
   display: inline-block;
}

li + li {
    margin-left: 20px;
}

.active {
    width: 20px;
    height: 20px;
    background: #4E443C;
    color: #fff;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

#LessonWelcome{
    position: absolute;
    font-size: 30px;
    color: #fff;
    left: 22%;
    padding: 8px;
    border-bottom: 2px solid #404040;
    
}

#lineone{
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 3%;
    top: 15%;
}

#linetwo{
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 3%;
    top: 30%;
}

#linethree{
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 3%;
    top: 45%;
}

#linefour{
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 3%;
    top: 65%;
}

#linefive{
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 3%;
    top: 78%;
}

